/* GENERAL MOBILE */
@media only screen 
   	and (max-device-width: 768px) {
   	body {
		width: 100%;
   		height: 100%;
   	}
   	#container {
   		width: 100%;
   		height: 100%;
   }
   input[type=number] {
   	margin-left: -2em;
   	
   }
   input[type=text] {
   		width: 7em;
   		margin-left: -3em;

   }
   #count-input {
   		width: 5em;
   		margin-left: -3em;
   	}
   	#font-button {
   		margin-left: -3em;
   	}
   	#image-right {
   		margin-left: -3em;
   	}
   	#color-left{
   		width: 70%;
   		margin-left: 1em;
   	}
   	#font-list{
   		width: 12em;
		margin-left: -9em;
   	}
   	.custom-file-upload {
   		width: 8em;
   	}
   	.selector-box {
	margin-left: -1.4em;
	}
}

/* TINY MOBILE RULES */
@media only screen 
   and (max-device-width: 375px){
   	.subtitle {
   		font-size: 1em;
   	}
   	.no-row-subtitle {
   		font-size: 0.7em;
   	}
   	.row{
		width: 150%;
		font-size: 0.6em;
	}
	#current-filename {
		font-size: 0.5em;
	}
	.menu-text{
		line-height: 0.9em;
	}
}

/* BIGGER MOBILE RULES */
@media only screen 
   	and (min-device-width: 375px)
   	and (max-device-width: 768px) {
   	.row{
		width: 150%;
		font-size: 0.9em;
	}
	.no-row-subtitle {
   		font-size: 0.8em;
   	}
	#current-filename {
	font-size: 0.65em;
	}
	.subtitle {
   		font-size: 0.8em;
   }
   	.menu-text{
		line-height: 1.2em;
	}
}

/* NON-MOBILE RULES */
@media only screen 
   and (min-device-width: 768px){
   	#container{
   		width: 700px;
   		margin: 0 auto;
   		height: 100vh;
   	}
   .row{
		width: 130%;
	}
   input[type=number] {
   		margin-left: 1em;
   		margin-bottom: 1em;
   }
   input[type=text] {
   		width: 12em;
   		margin-left: -2em;
   		margin-bottom: 0.5em;
   }
   #count-input {
   		margin-left: -5em;
   	}
	#font-list{
   		width: 12em;
		margin-left: 10em;
   	}
   	.custom-file-upload {
   		width: 12em;
   	}
   	#current-filename {
		font-size: 0.65em;
	}
	.menu-text{
		line-height: 1.3em;
	}
   	.selector-box {
	margin-left: 1.5em;
	}
}
/*GENERAL RULES*/
@import url(//fonts.googleapis.com/css?family=Dosis|Abril+Fatface|Play|Alegreya|Neuton|Anton|Barrio|Chango|Irish+Grover|Londrina+Solid|Sue+Ellen+Francisco|PT+Mono|Ceviche+One|Chicle|Lato);

html {
	height: 100%;
	width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(7,3,44);
  font-family: "Lato";
  /*color: rgb(66,14,7);*/
  color: rgb(7,3,44);
  user-select: none;
  overflow: hidden;
}

.border {
	height: 0.5vh;
	background: rgb(7,3,44);
}

#container{

}

#upper {
	display: inline-block;
	width: 100%;
	height: 50%;
	/*outline: thin solid red;*/
	/*background-color: rgb(236,143,0);*/
	/*background-color: rgb(241,176,76);*/
	background-color: rgb(224,241,76);
}

#lower {
	display: inline-block;
	width: 100%;
	height: 50%;
	font-size: 2em;
	background: linear-gradient(-175deg, rgb(224,241,76), rgb(180,194,61));
	/*outline: thin solid red;*/
}

#main-menu {
	/*display: none;*/
}

.menu-item {
	height: 12vh;
	/*outline: thin solid red;*/
	/*background-color: hsla(223, 24%, 84%, 1);*/
	border-top: 2px solid rgb(7,3,44);
	background: linear-gradient(-175deg, rgb(224,241,76), rgb(180,194,61));
}

.menu-text {
	height: 1.5em;
	margin-top: 0.7em;
	margin-left: 1em;
	/*text-shadow: -1px -1px 1px hsla(223, 24%, 55%, 1), 1px 1px 1px hsla(223, 24%, 8%, 1);*/
	cursor: pointer;
	/*outline: thin solid red;*/
}

.sub-menu {
	/*display: none;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 2px solid rgb(7,3,44);
	height: 100%;
	background: linear-gradient(-175deg, rgb(224,241,76),  rgb(180,194,61));
	/*outline: thin solid blue;*/
}

.title {
	position: relative;
	width: 100%;
	line-height: 2em;
	text-align: center;
	/*outline: thin solid red;*/
}

.close-submenu {
	display: inline;
	position: absolute;
	top: -0.9em;
	right: 0.5em;
	font-size: 0.5em;
	cursor: pointer;
}


.vertical-hold{
 	display: flex;
    flex-direction: column;
    height: 90%;
    /*outline: thin solid red;*/
}

.horizontal-hold{
 	display: flex;
 	flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80%;
    /*outline: thin solid blue;*/
}

.left-col {
	display: inline-block;
	margin-left: 2em;
	margin: 0 auto;
	/*outline: thin solid red;*/
	width: 40%;
}

.right-col {
	display: inline-block;
	/*outline: thin solid red;*/
	width: 40%;
	margin: 0 auto;
}

.row{
	/*width: 100%;*/
	padding-bottom: 0.5em;
	/*outline: solid thin green;*/
}

.subtitle {
	display: inline-block;
	/*outline: thin solid red;*/
	vertical-align: 0.6em;
}

/**/
/* text menu styles*/
/**/
#text-menu {
	display: none;
}


input[type=text], input[type=number] {
	height: 2em;
	font-size: 0.65em;
	line-height: 2em;
	border: none;
	border-radius: 0;
	outline: none;
	display: inline-block;
	background-color: rgb(236,247,147);
}

input[type=text]{
	padding-left: 0.5em;
}

 input[type=number] {
 	width: 6em;
 	padding-left: 1em;
 	/*margin-left: 1em;*/
 }

 input[type=submit] {
 	height: 3em;
	font-size: 0.5em;
	font-family: "Lato";
	color: rgb(7,3,44);
	width: 4em;
	border: none;
	border-radius: 0;
	outline: none;
	white-space: normal;
	background-color: rgb(131,140,54);
	position: absolute;
 	margin-left: 0.5em;
}

#add-text {
	margin-top: -2em;
}

.font{
  overflow: hidden;
}

#font-button{
  background-color: rgb(131,140,54);
  height: 2em;
  width: 10em;
  font-size: 0.65em;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

#font-selector:hover #font-list {
  display: block;
  bottom: 1em;
}

#font-list {
  display: none;
  font-size: 0.6em;
  position: absolute;
  background-color: rgb(224,241,76);
  opacity: 0.9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  padding: 0.5em;
  /*border: solid 1px red;*/
}

#font-list div:hover {
  background-color: rgb(238,252,121);
}
/**/
/* image menu styles*/
/**/
#image-menu {
	display: none;
}

input[type="file"] {
    display: none;
}

#cover-file {

}

.custom-file-upload {
    border: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgb(131,140,54);
    height: 2em;
  	font-size: 0.65em;
	text-align: center;
 	line-height: 2em;
}

#current-filename {
	overflow-wrap: break-word;
}

/**/
/* color menu styles*/
/**/
#color-menu {
	display: none;
}

.color{
	height: 2em;
	width: 2em;
	background-color: white;
	outline: thin solid black;
	text-align: center;
	line-height: 0.35em;
}

#background-color{
	display: inline-block;
}

#detail-color{
	display: inline-block;
}

.selector-box {
	display: inline-block;
	height: 1.8em;
	width: 5.5em;
	background-color: rgb(131,140,54);
	outline: thin solid black;
	position: relative;
}

.selector-button {
	/*outline: thin solid red;*/
	display: inline-block;
	height: 1.8em;
	text-align: center;
	pointer-events: none
}

.selector-button > span {
	font-size: 0.35em;
	font-weight: bold;
}

.selector-on{
	width: 2.75em;
	background-color: rgb(236,247,147);
	box-shadow: 1px 0 black; 
}

.selector-off{
	width: 2.5em;
}

#selector{
	height: 4em;
	width: 2em;
	/*outline: thin solid yellow;*/
	margin: 0 auto;
	margin-top: -2em;
}

.selector-label {
	font-size: 0.35em;
}

#palette-color {
	display: block;
}

#gradient{
  display: none;
}

#cover-color {
	display: block;
	background-color: lightgray;
}

.fa-eye-dropper{
	font-size: 1.5em;
	padding: 0.4em 0.4em 0 0.4em;
}

/**/
/* wordcount menu styles*/
/**/
#wordcount-menu {
	display: none;
}

/* example box */

#example-box {
	height: 20em;
	width: 20em;
	/*outline: double black;*/
	text-align: center;
	display: flex;
	align-items: center;
	margin: 0 auto;
	/*background: url("") center/contain no-repeat;*/
	margin-top: -1.5em;
}

#example-title {
	margin-top: 2em;
}

#example-author {
	margin-top: 2em;
}

#front {
	display: none;
  	background-color: #e0f14c;
}

#spine {
	display: none;
}

#topp {
	display: none;
}

#edge {
	display: none;
}

#bottom {
	display: none;
}

#back {
	display: none;
}



